In [2]:
# pip install pandas openpyxl pprint

In [79]:
import pandas as pd
import pprint


df1 = pd.read_excel('AllSurveys_TextDATA_20221101083046.xlsx')
df2 = pd.read_excel('AllSurveys_TextDATA_20221101080022.xlsx')

df = pd.concat([df1,df2], axis=0)
df

,user,pack,code,surveyname,surveytriggerdetails,notifynum,timeZone,surveystartdate,surveystarttime,responsesubmitdate,responsesubmittime,questioncode,questionprompt,responsetext,responsevalue
0,jeff,October 20 Start Date,MTH,Morning Thought Survey,Missed Survey_Notification Time : 10/20/2022 0...,1,UTC0:00,######,-999,NaN,NaN,MTH001,Please click Ok and press next to videorecord ...,-999,-999
1,jeff,October 20 Start Date,MTH,Morning Thought Survey,Missed Survey_Notification Time : 10/20/2022 0...,1,UTC0:00,######,-999,NaN,NaN,MTH002,"In less than 1 minute, give a detailed descri...",-999,-999
2,jeff,October 20 Start Date,MTH,Morning Thought Survey,Missed Survey_Notification Time : 10/20/2022 0...,1,UTC0:00,######,-999,NaN,NaN,MTH003,Which <b><u>thought type </u></b>were you havi...,-999,-999
3,jeff,October 20 Start Date,MTH,Morning Thought Survey,Missed Survey_Notification Time : 10/20/2022 0...,1,UTC0:00,######,-999,NaN,NaN,MTH004,In the thoughts I just described: I was having...,-999,-999
4,jeff,October 20 Start Date,MTH,Morning Thought Survey,Missed Survey_Notification Time : 10/20/2022 0...,1,UTC0:00,######,-999,NaN,NaN,MTH005,In the thoughts I just described: my<b> <u>thi...,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18664,user40,October 27 Start Date,THO,Thought Survey,Missed Survey_Notification Time : 11/1/2022 19...,48,UTC0:00,######,-999,NaN,NaN,THO032,"Right now, I am conscious of what is going on ...",-999,-999
18665,user40,October 27 Start Date,THO,Thought Survey,Missed Survey_Notification Time : 11/1/2022 19...,48,UTC0:00,######,-999,NaN,NaN,THO033,"Right now, I am reflective about my life.",-999,-999
18666,user40,October 27 Start Date,THO,Thought Survey,Missed Survey_Notification Time : 11/1/2022 19...,48,UTC0:00,######,-999,NaN,NaN,THO034,"Right now, I am concerned about what other peo...",-999,-999
18667,user40,October 27 Start Date,THO,Thought Survey,Missed Survey_Notification Time : 11/1/2022 19...,48,UTC0:00,######,-999,NaN,NaN,THO035,"Right now, I am aware of my innermost thoughts.",-999,-999
18668,user40,October 27 Start Date,THO,Thought Survey,Missed Survey_Notification Time : 11/1/2022 19...,48,UTC0:00,######,-999,NaN,NaN,THO036,"Right now, I am conscious of all objects aroun...",-999,-999

In [66]:
df['missed_filled'] = df['surveytriggerdetails'].astype(str).str[0:13]

users = df['user'].unique().tolist()

output = {}

for user in users:
    is_user = (df.user == user)
    d1 = {user: (df[is_user]['missed_filled'].value_counts())}
    output.update(d1)
    
outputdf = pd.DataFrame.from_dict(output).T
outputdf.sort_index().head()

        Missed Survey  Notification   User Initiate
jeff           2876.0            NaN            NaN
user10         2000.0          200.0          938.0
user13         2420.0            NaN          808.0
user14         2616.0          276.0          182.0
user15         2132.0           32.0          872.0

In [68]:
outputdf['Percentage flled (%)'] = (outputdf['User Initiate'] / (outputdf['Missed Survey'] + outputdf['User Initiate'])) * 100
outputdf.tail()

        Missed Survey  Notification   User Initiate  Percentage flled (%)
user36          448.0          674.0          331.0             42.490372
user37         1236.0           64.0           32.0              2.523659
user38         1300.0            NaN           43.0              3.201787
user39          904.0          363.0          144.0             13.740458
user40          860.0          403.0           32.0              3.587444

In [72]:
nwdf = df.groupby(by=['user', 'surveystartdate']).count()

nwdf

                        pack  code  surveyname  surveytriggerdetails  \
user   surveystartdate
jeff   ######           2876  2876        2876                  2876
user10 ######           2000  2000        2000                  2000
       10/20/2022         64    64          64                    64
       10/21/2022        107   107         107                   107
       10/22/2022        200   200         200                   200
...                      ...   ...         ...                   ...
user9  10/25/2022        171   171         171                   171
       10/26/2022        139   139         139                   139
       10/27/2022         40    40          40                    40
       10/29/2022        115   115         115                   115
       10/30/2022         72    72          72                    72

                        notifynum  timeZone  surveystarttime  \
user   surveystartdate
jeff   ######                2876      2876             2876
user10 ######                2000      2000             2000
       10/20/2022              64        64               64
       10/21/2022             107       107              107
       10/22/2022             200       200              200
...                           ...       ...              ...
user9  10/25/2022             171       171              171
       10/26/2022             139       139              139
       10/27/2022              40        40               40
       10/29/2022             115       115              115
       10/30/2022              72        72               72

                        responsesubmitdate  responsesubmittime  questioncode  \
user   surveystartdate
jeff   ######                            0                   0          2876
user10 ######                            0                   0          2000
       10/20/2022                       64                  64            64
       10/21/2022                      107                 107           107
       10/22/2022                      200                 200           200
...                                    ...                 ...           ...
user9  10/25/2022                      171                 171           171
       10/26/2022                      139                 139           139
       10/27/2022                       40                  40            40
       10/29/2022                      115                 115           115
       10/30/2022                       72                  72            72

                        questionprompt  responsetext  responsevalue  \
user   surveystartdate
jeff   ######                     2876          2876           2876
user10 ######                     2000          2000           2000
       10/20/2022                   64            62             62
       10/21/2022                  107           104            104
       10/22/2022                  200           194            194
...                                ...           ...            ...
user9  10/25/2022                  171           166            166
       10/26/2022                  139           135            135
       10/27/2022                   40            39             39
       10/29/2022                  115           112            112
       10/30/2022                   72            70             70

                        missed_filled
user   surveystartdate
jeff   ######                    2876
user10 ######                    2000
       10/20/2022                  64
       10/21/2022                 107
       10/22/2022                 200
...                               ...
user9  10/25/2022                 171
       10/26/2022                 139
       10/27/2022                  40
       10/29/2022                 115
       10/30/2022                  72

[299 rows x 14 columns]

In [78]:
question_codes = df['questioncode'].unique().tolist()

responsetext != 999

AttributeError: 'DataFrame' object has no attribute 'row'

In [98]:
from datetime import date
today = date.today()

In [105]:
df['missed_filled'] = df['surveytriggerdetails'].astype(str).str[0:13]

fltr = df['surveytriggerdetails'] == "User Initiated"
df[fltr]
users = df['user'].unique().tolist()

output = {}

for user in users:
    is_user = (df.user == user)
    d1 = {user: (df[is_user]['missed_filled'].value_counts())}
    output.update(d1)

MTH = 40
MTH_daily = MTH
THO = 36
THO_daily = THO*5
daily_total = MTH_daily + THO_daily
daily_total
days_sinceStart = 6    
    
outputdf['Responses'] = ((outputdf['User Initiate'] / (days_sinceStart * daily_total))) * 100
outputdf   

# outputdf = pd.DataFrame.from_dict(output).T
# outputdf.sort_index().head()

        Missed Survey  Notification   User Initiate  Responses
jeff           2876.0            NaN            NaN        NaN
user10         2000.0          200.0          938.0  71.060606
user13         2420.0            NaN          808.0  61.212121
user14         2616.0          276.0          182.0  13.787879
user15         2132.0           32.0          872.0  66.060606
user16         2060.0          480.0          381.0  28.863636
user17         1488.0         1209.0          273.0  20.681818
user18         1828.0          687.0          421.0  31.893939
user19          904.0         1341.0          761.0  57.651515
user20         2768.0            NaN          520.0  39.393939
user21         1952.0          498.0          676.0  51.212121
user22         2228.0          230.0         1136.0  86.060606
user23         1396.0          769.0          929.0  70.378788
user24         2876.0            NaN          286.0  21.666667
user25         1828.0          760.0          312.0  23.636364
user26         2268.0          458.0          244.0  18.484848
user27         2264.0          591.0            NaN        NaN
user3          2304.0            NaN         1104.0  83.636364
user4          1800.0          200.0          839.0  63.560606
user6          1764.0          625.0          577.0  43.712121
user7          1844.0           67.0         1016.0  76.969697
user8          2600.0          147.0          345.0  26.136364
user9          2000.0          649.0          537.0  40.681818
user28         1192.0           32.0          355.0  26.893939
user29          700.0          245.0          943.0  71.439394
user30         1092.0           67.0          252.0  19.090909
user31          600.0          427.0          284.0  21.515152
user32          492.0          566.0          286.0  21.666667
user33         1056.0          134.0          270.0  20.454545
user34         1092.0           67.0          356.0  26.969697
user35          680.0          454.0          193.0  14.621212
user36          448.0          674.0          331.0  25.075758
user37         1236.0           64.0           32.0   2.424242
user38         1300.0            NaN           43.0   3.257576
user39          904.0          363.0          144.0  10.909091
user40          860.0          403.0           32.0   2.424242

,user,pack,code,surveyname,surveytriggerdetails,notifynum,timeZone,surveystartdate,surveystarttime,responsesubmitdate,responsesubmittime,questioncode,questionprompt,responsetext,responsevalue
2992,user10,October 20 Start Date,THO,Thought Survey,User Initiated,999,UTC0:00,10/20/2022,14:25:15,10/20/2022,14:25:16,THO001,Please click Ok and press next to record your...,Ok,1
2993,user10,October 20 Start Date,THO,Thought Survey,User Initiated,999,UTC0:00,10/20/2022,14:25:15,10/20/2022,14:25:21,THO002,"In less than 1 minute, give a detailed descri...",NaN,NaN
2994,user10,October 20 Start Date,THO,Thought Survey,User Initiated,999,UTC0:00,10/20/2022,14:25:15,10/20/2022,14:25:44,THO003,Which thought type were you having? Choose th...,Inner speaking (the experience of mentally spe...,1
2995,user10,October 20 Start Date,THO,Thought Survey,User Initiated,999,UTC0:00,10/20/2022,14:25:15,10/20/2022,14:25:51,THO004,In the thoughts I just described: I was havin...,Certainly does not apply,1
2996,user10,October 20 Start Date,THO,Thought Survey,User Initiated,999,UTC0:00,10/20/2022,14:25:15,10/20/2022,14:25:56,THO005,In the thoughts I just described: my thinking...,Certainly does not apply,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16849,user39,October 27 Start Date,MTH,Morning Thought Survey,User Initiated,999,UTC0:00,10/30/2022,14:36:10,10/30/2022,14:37:23,MTH036,"After falling asleep, woke up this many times...",1,2
16850,user39,October 27 Start Date,MTH,Morning Thought Survey,User Initiated,999,UTC0:00,10/30/2022,14:36:10,10/30/2022,14:37:26,MTH037,In the hour before you went to bed (lights ou...,5,5
16851,user39,October 27 Start Date,MTH,Morning Thought Survey,User Initiated,999,UTC0:00,10/30/2022,14:36:10,10/30/2022,14:37:27,MTH038,How would you rate your overall quality of sl...,1,1
16852,user39,October 27 Start Date,MTH,Morning Thought Survey,User Initiated,999,UTC0:00,10/30/2022,14:36:10,10/30/2022,14:37:28,MTH039,How was your mood when you first woke up? Wer...,1,1
16853,user39,October 27 Start Date,MTH,Morning Thought Survey,User Initiated,999,UTC0:00,10/30/2022,14:36:10,10/30/2022,14:37:29,MTH040,How alert (versus sleepy) did you feel once y...,1,1